<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>AuthSAML</name>
        <type>plugin</type>
        <creationDate>2018-08-14</creationDate>
        <lastUpdate>2023-06-08</lastUpdate>
        <author>Frank Niesten</author>
        <authorUrl>https://github.com/Frankniesten/Limesurvey-SAML-Authentication</authorUrl>
        <version>2.0.0</version>
        <license>GNU General Public License version 3</license>
        <description><![CDATA[Core: SAML authentication]]></description>
    </metadata>

    <compatibility>
        <version>6.0</version>
    </compatibility>

    <updaters disabled="disabled">
    </updaters>
</config>
